language: python
python: "3.9"
services:
  - docker
install:
  - pip install --upgrade pip
  - pip install --no-threads -r requirements.txt
before_script:
  - pip --version
  - python --version
  - echo "Start Docker Build"
script:
  - docker build -t flask-app .
after_script:
  - echo "Finish Docker Build"